.Footer {
    .footer-main-section {
        background-image:url('../../assets/images/footer-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .footer-navigation-part {
        padding: 80px 0px;
    }
    .footer-cpoyright-part {
        padding: 28px 0px;
        border-top: 1px solid #a8a8a8;
    }
}



@media only screen and (max-width: 991.90px) {
    .Footer {
        .footer-menu-main-grid-section {
            gap: 40px 0px;
            .footer-logo-desc-column {
                grid-column: span 12 / span 12 !important;
            }
            .similar-footer-menu-columns {
                grid-column: span 4 / span 4 !important;
            }
        }
        .footer-navigation-part {
            padding: 50px 0px;
        }
        .footer-cpoyright-part {
            .copyright-outer-sec {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                gap: 20px !important;
            }
            .terms-copyright-links {
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
            }
        }
    }
}




@media only screen and (max-width: 574.90px) {
    .Footer {
        border-top: 1px solid #9d9d9d !important;
        .container {
            padding: 0px 20px !important;
        }
        .footer-menu-main-grid-section {
            gap: 50px 0px;
            .similar-footer-menu-columns {
                grid-column: span 6 / span 6 !important;
            }
        }
    }
}


@media only screen and (max-width: 400px) {
    .Footer {
        border-top: 1px solid #9d9d9d !important;
        .container {
            padding: 0px 20px !important;
        }
        .footer-menu-main-grid-section {
            gap: 50px 0px;
            .similar-footer-menu-columns {
                grid-column: span 12 / span 12 !important;
            }
        }
    }
}