.ProfileSideBar {
    .sidebar-navigation-part {
        ul {
            a {
                transition-duration: 0.5s;
                background: #fff;
                border-radius: 80px;
            }
            a.active {
                color: #FF7B00;
                background: #FFEAE3;
                
            }
        }
    }
    .side-bar-nav-part-after-991 {
        display: none ;
    }
}



@media only screen and (max-width: 991.90px) {
    .ProfileSideBar {
        .sidebar-navigation-part {
            display: none;
        }
        .side-bar-nav-part-after-991 {
            display: block !important;
            margin-bottom: 20px;
            a {
                transition-duration: 0.5s;
                background: #fff;
                border-radius: 80px;
            }
            a.active {
                color: #FF7B00;
                background: #FFEAE3;
            }
        }
    }
}