.Home {
    .home-section-1 {
        .inner-home-section-1 {
            padding: 80px 0px 330px 0px;
        }
    }
    .home-section-2 {
        .inner-home-section-2 {
            padding: 80px 0px 80px 0px;
        }
    }
    .home-section-3 {
        .inner-home-section-3 {
            background-image:url('../../assets/images/cities-blk-background.jpg');
            background-attachment: fixed;
            padding: 80px 0px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .home-section-4 {
        .inner-home-section-4 {
            padding: 80px 0px
        }
    }
    .home-setion-5 {
        .inner-home-section-5 {
            background-image:url('../../assets/images/categories-blk-background.jpg');
            background-attachment: fixed;
            padding: 80px 0px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .go-to-top-button-section {
        transform: translate(-50% , -50%);
    }
}

.search-input-section-browse-categories {
    .email-input-icon {
        transform: translate(0% , -50%);
        text-align: center;
    }
}

button {
    transition-duration: 0.3s;
    &:active {
        transform: scale(0.8) !important;
    }
}

.main-login-modal-section {
    background: rgba(0, 0, 0, 0.519);
    backdrop-filter: blur(12px);
    .inner-modal-relative-section {
        max-width: 560px;
        transform: translate(-50%, -50%),
    }
    .email-input-icon {
        transform: translate(0%, -50%),
    }
    .border-or-section {
        .or-middle-mover {
            transform: translate(-50%, 0%),
        }
    }
}

.otpinputs-outer {
    justify-content: space-between !important;
    margin-bottom: 20px !important;
    gap: 0px 20px;
    input {
        border: 1px solid #B3B3B3;
        width: 25% !important;
        height: 60px !important;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        margin: 0px !important;
        outline: none !important;
        transition-duration: 0.5s;
        &:focus {
            outline: 1px solid #1F90FF !important;
        }
    }
}


.search-grid-container-main {
    width: 100%;
    max-width: 1080px !important;
    margin: 0px auto !important;
}


.main-search-input-section {
    .search-clear-icon {
        transform: scale(1) translate(0% , -50%) !important;
    }
}


.app-select-home-right-sliding-buttons {
    transform: translate(-0% , -50%);
}


// Responsove Styles
@media only screen and (max-width: 991.90px) {
    .home-section-1 {
        .search-grid-container-main {
            padding: 0px 30px;
        }
        .top-slider-search-section {
            .top-slider-grid-sec {
                row-gap: 50px !important;
            }
            .left-home-section-1 {
                grid-column: span 2 / span 2
            }
            .right-home-section-1 {
                grid-column: span 2 / span 2
            }
        }
    }

    .home-section-2 {
        .single-recharge-component-home-sec-2 {
            grid-column: span 2 / span 2
        }
        .home-sec-2-recharges-sec {
            .bills-left-heading {
                flex-direction: column;
                align-items: baseline;
            }
        }
    }
    .home-section-5 {
        .bottom-all-categories-section {
            .home-categories-grid-section {
                grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
            }
        }
    }
}




@media only screen and (max-width: 674px) {
    .home-section-2 {
        .recharges-grid-section {
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 30px;
        }
        .single-recharge-component-home-sec-2 {
            grid-column: span 4 / span 4
        }
    }

}


@media only screen and (max-width: 574px) {
    .home-section-2 {
        .below-recharges-section-home-2 {
            padding: 20px !important;
        }
        .recharges-grid-section {
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 40px 10px;
        }
        .single-recharge-component-home-sec-2 {
            grid-column: span 6 / span 6 ;
            justify-content: start !important;
        }
    }

}