.Home {
    .home-section-1 {
        .inner-home-section-1 {
            // padding: 80px 0px 330px 0px;
            padding: 80px 0px 80px 0px;
        }
    }
    .home-section-2 {
        .inner-home-section-2 {
            padding: 80px 0px 80px 0px;
        }
    }
    .home-section-3 {
        .inner-home-section-3 {
            background-image:url('../../assets/images/cities-blk-background.jpg');
            background-attachment: fixed;
            padding: 80px 0px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .home-local-search-icon-sec {
        transform: translate(-50% , -50%);
    }

    .home-section-4 {
        .inner-home-section-4 {
            padding: 80px 0px
        }
    }
    .home-section-5 {
        .inner-home-section-5 {
            background-image:url('../../assets/images/categories-blk-background.jpg');
            background-attachment: fixed;
            padding: 80px 0px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .go-to-top-button-section {
        transform: translate(-50% , -50%);
    }
}

.search-input-section-browse-categories {
    .email-input-icon {
        transform: translate(0% , -50%);
        text-align: center;
    }
}

button {
    transition-duration: 0.3s;
    &:active {
        transform: scale(0.8) !important;
    }
}

.location-setting-section {
    .icon-section {
        transform: translate(-50% , -50%);
    }
}

.main-login-modal-section {
    background: rgba(0, 0, 0, 0.519);
    backdrop-filter: blur(12px);
    .inner-modal-relative-section {
        max-width: 560px;
        transform: translate(-50%, -50%),
    }
    .email-input-icon {
        transform: translate(0%, -50%),
    }
    .border-or-section {
        .or-middle-mover {
            transform: translate(-50%, 0%),
        }
    }
}

.otpinputs-outer {
    justify-content: space-between !important;
    margin-bottom: 20px !important;
    gap: 0px 20px;
    input {
        border: 1px solid #B3B3B3;
        width: 25% !important;
        height: 60px !important;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        margin: 0px !important;
        outline: none !important;
        transition-duration: 0.5s;
        &:focus {
            outline: 1px solid #1F90FF !important;
        }
    }
}


.search-grid-container-main {
    width: 100%;
    max-width: 1080px !important;
    margin: 0px auto !important;
}


.main-search-input-section {
    .search-clear-icon {
        transform: scale(1) translate(0% , -50%) !important;
    }
}


.app-select-home-right-sliding-buttons {
    transform: translate(-0% , -50%);
}

.home-section-5-mobile-view {
    display: none;
}


// Responsove Styles


@media only screen and (max-width:1200px) {
    .localmart-apps-section-banner {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .all-categories-grid-section {
        .inner-all-categories-grid-section {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}


@media only screen and (max-width: 991.90px) {
    .home-section-1 {
        .search-grid-container-main {
            padding: 0px 0px;
        }
        .top-slider-search-section {
            .top-slider-grid-sec {
                row-gap: 50px !important;
            }
            .left-home-section-1 {
                grid-column: span 2 / span 2
            }
            .right-home-section-1 {
                grid-column: span 2 / span 2
            }
        }
    }

    .home-section-2 {
        .single-recharge-component-home-sec-2 {
            grid-column: span 2 / span 2
        }
        .home-sec-2-recharges-sec {
            .bills-left-heading {
                flex-direction: column;
                align-items: baseline;
            }
        }
    }
    .home-section-5 {
        .bottom-all-categories-section {
            .home-categories-grid-section {
                grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
                gap: 40px 20px !important;
            }
        }
        .top-heading-part-categories {
            .left-categories-heading-home {
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
    .home-section-3 {
        .left-explore-serv-heading {
            h2 {
                font-size: 20px;
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .main-browse-all-categories-section  {
        padding: 20px;
    }
    .all-categories-grid-section {
        .inner-all-categories-grid-section {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}




@media only screen and (max-width: 674.90px) {
    .home-section-1 {
        .localmart-business-app-container.container {
            max-width: 100% !important;
            padding: 0px !important;
        }
        .localmart-apps-section-banner {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            width: 100% !important;
            padding: 0px !important;
        }
        .search-grid-section-home-main {
            .top-search-section-grid-parent {
                display: block !important;
            }
            .location-setting-section {
                display: flex;
                border-radius: 15px 15px 0px 0px;
            }
            .big-search-section {
                border-radius: 0px 0px 15px 15px;
            }
            .cate-loc-search-btn {
                button {
                    background: none !important;
                    box-shadow: none !important;
                    p {
                        color: #1F90FF !important;
                    }
                }
            }
            .absolute-searched-results-section {
                border-radius: 15px !important;
                margin-top: 20px !important;
            }
        }
        .inner-home-section-1{
            padding: 40px 0px !important;
        }
        .inner-home-section-2 {
            .container {
                padding: 0px 0px !important;
            }
            .inner-home-2-slider-sec {
                margin: 0px !important;
            }
        }
        .bottom-apps-home-section-1 {
            padding: 0px 15px !important;
        }
        .big-search-section {
            .main-search-input-section  {
                input {
                    padding: 0px 15px !important;
                }
            }
        }
    }
    .home-section-2 {
        .bills-heading-part {
            flex-wrap: wrap;
        }
        .recharges-grid-section {
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 30px;
        }
        .single-recharge-component-home-sec-2 {
            grid-column: span 4 / span 4
        }
    }
    .home-section-3  {
        .inner-home-section-3 {
            background-attachment: unset !important;
        }
    }

}


@media only screen and (max-width: 574.90px) {
    .inner-home-2-slider-sec  {
        padding: 20px !important;
    }
    .all-categories-grid-section {
        .inner-all-categories-grid-section {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
    .single-explore-cities-card {
        .absolute-arrow-explore-section {
            display: none !important;
        }
    }
    .Home .home-section-2 .inner-home-section-2 {
        padding: 40px 0px  !important;
    }
    .home-section-1 {
        // .top-slider-search-section {
        //     display: none !important;
        // }
        .left-pop-serv-heading {
            h2 {
                font-size: 18px;
                br {
                    display: none;
                }
            }
        }
        .home-section-5-mobile-view {
            display: block !important;
            margin-top: 30px !important;
            .left-categories-heading-home {
                h2 {
                    font-size: 18px;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    .home-section-2 {
        .below-recharges-section-home-2 {
            padding: 20px !important;
        }
        .recharges-grid-section {
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 40px 10px;
        }
        .single-recharge-component-home-sec-2 {
            grid-column: span 6 / span 6 ;
            justify-content: start !important;
        }
    }
    .home-section-5 {
        display: none !important;
    }

}


@media only screen and (max-width: 474px) {
    .home-section-1 {
        .big-search-section  {
            position: unset !important;
        }
        .main-search-input-section  {
            position: unset !important;
            .search-clear-icon {
                top: 20px !important;
                right: 15px !important;
            }
        }
        .top-search-section-grid-parent {
            position: relative !important;
        }
    }
    .top-slider-search-section {
        .heading-section-1 {
           h1 {
            font-size: 30px;
            line-height: 40px;
             br {
                display: none;
             }
           }
           p {
            font-size: 16px;
             br {
                display: none;
             }
           }
        }
    }
}