.MyAddresses {}


@media only screen and (max-width: 767.99px) {
    .address-mine-main-grid-section {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}




@media only screen and (max-width: 574px) {
    .address-right-edit-prof-button {
        position: absolute;
        bottom: 20px !important;
        left: 50%;
        transform: translate(-50% , -0%);
        width: 100%;
        text-align: center;
        button {
            margin: 0px auto !important;
        }
    }
}