.MyAddresses {}


// @media only screen and (max-width: )

@media only screen and (max-width: 767.99px) {
    .address-mine-main-grid-section {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .add-address-form-section {
        .inner-grid-section {
            .form-inputsec , .text-area-address-section ,.multiple-selection-address-outer {
                grid-column: span 12 / span 12;
            }
        }
    }
}




@media only screen and (max-width: 574px) {
    .address-right-edit-prof-button {
        position: absolute;
        bottom: 20px !important;
        left: 50%;
        transform: translate(-50% , -0%);
        width: 100%;
        text-align: center;
        button {
            margin: 0px auto !important;
        }
    }
}