.Header {}

.notification-header-button , .language-selection-header {

        border: 1px solid #B3B3B3 !important;
    
}

.login-button-header {
    button {
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
    }
}

.language-selection-header {
    button {
        &:active {
            transform: scale(1) !important;
        }
    }
}

.logo-inner-section {
    transform: scale(1) !important;
    &:active {
        transform: scale(1) !important;
    }
}

.header-mobile-menu-section {
    display: none;
}
button.fixed-mobile-overlay-section {
    transform: none !important;
    backdrop-filter: blur(6px);
}

@media only screen and (max-width: 674.90px) {
    .header-mobile-menu-section {
        display: block !important;

        button {
            transition-duration: 0.3s !important;
        }
    } 
    .main-header-section {
        .header-search-section  , .header-buttons-sections{
            display: none;
        }
        .header-left-logo-section {
            grid-column: span 6 / span 6;
            .logo-inner-section {
                img {
                    max-height: 40px;
                }
            }
        }
    }
}