.UserRegister {
    .complete-det-registerform-section {
        .form-inputsec {
            .email-input-icon {
                transform: translate(0% , -50%) !important;
                text-align: center;
            }
        }
    }
    .form-inputsec {

        .email-input-icon {
            transform: translate(-0% , -50%) !important;
        }
        .password-login-icon {
            &:active {
                transform: translate(-0% , -50%) scale(1) !important;
            }
        }
    }

    .otpinputs-outer {
        justify-content: space-between !important;
        margin-bottom: 20px !important;
        gap: 0px 20px;
        input {
            border: 1px solid #B3B3B3;
            width: 25% !important;
            height: 60px !important;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 500;
            margin: 0px !important;
            outline: none !important;
            transition-duration: 0.5s;
            &:focus {
                outline: 1px solid #1F90FF !important;
            }
        }
    }
    
    
}

        .form-inputsec {
            .email-input-icon {
                            transform: translate(-0% , -50%) !important;
            }
        }

    .otpinputs-outer {
        justify-content: space-between !important;
        margin-bottom: 20px !important;
        gap: 0px 20px;
        input {
            border: 1px solid #B3B3B3;
            width: 25% !important;
            height: 60px !important;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 500;
            margin: 0px !important;
            outline: none !important;
            transition-duration: 0.5s;
            &:focus {
                outline: 1px solid #1F90FF !important;
            }
        }
    }
    .otp-section-forgot {
        .right-side-edit-btn {
            transform: translate(-50% , -50%);
        }
    }

@media only screen and (max-width: 991.90px) {
    .UserRegister {
        .left-user-basic-reg-image , .right-user-basic-reg-form {
            grid-column: span 12 / span 12;
        }
        .left-user-register-image {
            img {
                max-height: 400px;
            }
        }
    }
}


@media only screen and (max-width: 674.90px) {
    .UserRegister {
        .userlogin-main-section  {
            padding: 30px 0px;
        }
        .right-side-user-register-form-section  {
            padding: 30px !important;
        }
    }
}

@media only screen and (max-width: 574px) {
    .UserRegister {
        .left-user-register-image {
            img {
                max-height: 300px;
            }
        }
        .register-withnumber-section  {
            p {
                font-size: 16px !important;
            }
        }
    }
}