.UserRegister {
    .complete-det-registerform-section {
        .form-inputsec {
            .email-input-icon {
                transform: translate(0% , -50%) !important;
                text-align: center;
            }
        }
    }
    .form-inputsec {
        .email-input-icon {
            transform: translate(-0% , -50%) !important;
        }
        .password-login-icon {
            &:active {
                transform: translate(-0% , -50%) scale(1) !important;
            }
        }
    }

    .otpinputs-outer {
        justify-content: space-between !important;
        margin-bottom: 20px !important;
        gap: 0px 20px;
        input {
            border: 1px solid #B3B3B3;
            width: 25% !important;
            height: 60px !important;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 500;
            margin: 0px !important;
            outline: none !important;
            transition-duration: 0.5s;
            &:focus {
                outline: 1px solid #1F90FF !important;
            }
        }
    }
    
    
}