@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* , ::after , ::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif !important;
  margin: 0 !important;
  padding: 0px !important;
}

.container {
  width: 100%;
  max-width: 1300px !important;
  margin: 0px auto !important;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px ;
  padding: 0px ;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

button {
  /* border: none;  */
  background: none;
}

a {
  text-decoration: none !important;
  display: inline-block;
}


/* modal styles */

bun{
  position: relative;
  background-color: #282828;
}
.mymodal {
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

/* .myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.886);
} */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.886) !important;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 99999999;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}   

.my-profile-inner-section {
  padding: 70px 0px;
}





/* Responsive Styles */

@media only screen and (max-width: 1300px) {
  .container {
    margin: 0px auto !important;
    padding: 0px 30px !important;
  }
  
}


@media only screen and (max-width: 991.90px) {
  .similar-profile-sidebar-outer .profile-sidebar-main-grid {
    display: block;
  }
  .similar-profile-sidebar-outer .profile-sidebar-main-grid .left-sidebar-section-proile {
    border: none !important;
  }
}


@media only screen and (max-width: 674.90px) {
  .container {
    margin: 0px auto !important;
    padding: 0px 15px !important;
  }
  .go-to-top-button-section {
    bottom: 20px !important;
    right: 20px !important;
  }
}